<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <h3>Password Reset Request</h3>
    <p>Hi <b>{{name}}</b>, you have requested to reset you password.</p>
    <p>If this was you, please reset your password by clicking on <b><a href="{{href}}">Reset Password</a></b>.</p>
    <p>If you didn't request for this, simply ignore. Nothing will change on your account settings and your account will remain secure.</p>
    <p>Please be aware that this link is only valid for the next 15 mins.</p>
</body>
</html>